.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-top: -200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.button-large {
  font-size: 20px;        /* Aumenta el tamaño de la fuente */
  padding: 15px 30px;     /* Aumenta el relleno del botón */
  background-color: #4CAF50; /* Fondo verde */
  color: white;           /* Texto blanco */
  border: none;           /* Sin borde */
  border-radius: 5px;     /* Bordes redondeados */
  cursor: pointer;        /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s; /* Transición suave para el cambio de color */
}

.button-large:hover {
  background-color: #24d3d3; /* Color de fondo cuando el cursor está sobre el botón */
}